.page-profil-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.page-profil-thq-page-profil-elm {
  gap: 22px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 1400px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(233, 233, 233, 1);
}
 
.page-profil-thq-header-elm {
  width: 1446px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-profil-thq-rectangle6-elm {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 100px;
  position: absolute;
}
 
.page-profil-thq-logo-elm {
  gap: 10px;
  top: 7px;
  left: 144px;
  width: 115px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-group-elm {
  width: 115px;
  height: 85.97586822509766px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-profil-thq-vector-elm {
  top: 0px;
  left: 0px;
  width: 115px;
  height: 86px;
  position: absolute;
}
 
.page-profil-thq-button-elm {
  gap: 33px;
  top: 14px;
  left: 350px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
 
.page-profil-thq-buttonmenu-elm {
  gap: 10px;
  display: flex;
  padding: 14px 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-text-elm10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-buttonabout-elm {
  gap: 10px;
  display: flex;
  padding: 14px 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-text-elm11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-buttonlogin-elm {
  gap: 10px;
  display: flex;
  padding: 14px 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-buttonjoin-elm {
  gap: 10px;
  top: 12px;
  left: 1127px;
  display: flex;
  padding: 14px 40px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.page-profil-thq-text-elm12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-button-log-out-elm {
  gap: 10px;
  top: 10px;
  left: 1320px;
  display: flex;
  padding: 14px 40px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-logout05-elm {
  width: 46px;
  height: 46px;
}
 
.page-profil-thq-pageuser-elm {
  width: 1414px;
  height: 2501px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-profil-thq-group3-elm {
  top: 0px;
  left: 0px;
  width: 1414px;
  height: 2501px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.page-profil-thq-text-elm13 {
  top: 32px;
  left: 432px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-group4-elm {
  top: 164px;
  left: 1107.5px;
  width: 232px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(63, 172, 59, 1);
}
 
.page-profil-thq-text-elm14 {
  top: 16px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-tuile4-elm1 {
  top: 984px;
  left: 55px;
  width: 380px;
  height: 534px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.page-profil-thq-frame8-elm1 {
  gap: 10px;
  top: 12px;
  left: 40px;
  display: flex;
  padding: 12px 6px;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 107, 53, 1);
}
 
.page-profil-thq-text-elm15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle21-elm1 {
  top: 63px;
  left: 23px;
  width: 334px;
  height: 276px;
  position: absolute;
  border-radius: 16px 16px 0 0;
}
 
.page-profil-thq-text-elm16 {
  top: 380px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle35-elm1 {
  top: 484px;
  left: 197px;
  width: 69px;
  height: 34px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm17 {
  top: 494px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle25-elm1 {
  top: 486px;
  left: 275px;
  width: 87px;
  height: 32px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm18 {
  top: 492px;
  left: 285px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm19 {
  top: 352px;
  left: 40px;
  color: rgba(16, 16, 16, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-tuile4-elm2 {
  top: 1566px;
  left: 55px;
  width: 380px;
  height: 534px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.page-profil-thq-frame8-elm2 {
  gap: 10px;
  top: 12px;
  left: 40px;
  display: flex;
  padding: 12px 6px;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 107, 53, 1);
}
 
.page-profil-thq-text-elm20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle21-elm2 {
  top: 63px;
  left: 23px;
  width: 334px;
  height: 276px;
  position: absolute;
  border-radius: 16px 16px 0 0;
}
 
.page-profil-thq-text-elm21 {
  top: 380px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle35-elm2 {
  top: 484px;
  left: 197px;
  width: 69px;
  height: 34px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm22 {
  top: 494px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle25-elm2 {
  top: 486px;
  left: 275px;
  width: 87px;
  height: 32px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm23 {
  top: 492px;
  left: 285px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm24 {
  top: 352px;
  left: 40px;
  color: rgba(16, 16, 16, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-tuile4-elm3 {
  top: 1578px;
  left: 503px;
  width: 380px;
  height: 534px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.page-profil-thq-frame8-elm3 {
  gap: 10px;
  top: 12px;
  left: 40px;
  display: flex;
  padding: 12px 6px;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 107, 53, 1);
}
 
.page-profil-thq-text-elm25 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle21-elm3 {
  top: 63px;
  left: 23px;
  width: 334px;
  height: 276px;
  position: absolute;
  border-radius: 16px 16px 0 0;
}
 
.page-profil-thq-text-elm26 {
  top: 380px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle35-elm3 {
  top: 484px;
  left: 197px;
  width: 69px;
  height: 34px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm27 {
  top: 494px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle25-elm3 {
  top: 486px;
  left: 275px;
  width: 87px;
  height: 32px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm28 {
  top: 492px;
  left: 285px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm29 {
  top: 352px;
  left: 40px;
  color: rgba(16, 16, 16, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-tuile4-elm4 {
  top: 1562px;
  left: 957px;
  width: 380px;
  height: 534px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.page-profil-thq-frame8-elm4 {
  gap: 10px;
  top: 12px;
  left: 40px;
  display: flex;
  padding: 12px 6px;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 107, 53, 1);
}
 
.page-profil-thq-text-elm30 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle21-elm4 {
  top: 63px;
  left: 23px;
  width: 334px;
  height: 276px;
  position: absolute;
  border-radius: 16px 16px 0 0;
}
 
.page-profil-thq-text-elm31 {
  top: 380px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle35-elm4 {
  top: 484px;
  left: 197px;
  width: 69px;
  height: 34px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm32 {
  top: 494px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle25-elm4 {
  top: 486px;
  left: 275px;
  width: 87px;
  height: 32px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm33 {
  top: 492px;
  left: 285px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm34 {
  top: 352px;
  left: 40px;
  color: rgba(16, 16, 16, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-tuile4-elm5 {
  top: 984px;
  left: 503px;
  width: 380px;
  height: 534px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.page-profil-thq-frame8-elm5 {
  gap: 10px;
  top: 12px;
  left: 40px;
  display: flex;
  padding: 12px 6px;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 107, 53, 1);
}
 
.page-profil-thq-text-elm35 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle21-elm5 {
  top: 63px;
  left: 23px;
  width: 334px;
  height: 276px;
  position: absolute;
  border-radius: 16px 16px 0 0;
}
 
.page-profil-thq-text-elm36 {
  top: 380px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle35-elm5 {
  top: 484px;
  left: 197px;
  width: 69px;
  height: 34px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm37 {
  top: 494px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle25-elm5 {
  top: 486px;
  left: 275px;
  width: 87px;
  height: 32px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm38 {
  top: 492px;
  left: 285px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm39 {
  top: 352px;
  left: 40px;
  color: rgba(16, 16, 16, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-tuile4-elm6 {
  top: 984px;
  left: 957px;
  width: 380px;
  height: 534px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.page-profil-thq-frame8-elm6 {
  gap: 10px;
  top: 12px;
  left: 40px;
  display: flex;
  padding: 12px 6px;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 107, 53, 1);
}
 
.page-profil-thq-text-elm40 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle21-elm6 {
  top: 63px;
  left: 23px;
  width: 334px;
  height: 276px;
  position: absolute;
  border-radius: 16px 16px 0 0;
}
 
.page-profil-thq-text-elm41 {
  top: 380px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle35-elm6 {
  top: 484px;
  left: 197px;
  width: 69px;
  height: 34px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm42 {
  top: 494px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle25-elm6 {
  top: 486px;
  left: 275px;
  width: 87px;
  height: 32px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm43 {
  top: 492px;
  left: 285px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm44 {
  top: 352px;
  left: 40px;
  color: rgba(16, 16, 16, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-tuile-elm {
  top: 369px;
  left: 61.5px;
  width: 380px;
  height: 534px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.page-profil-thq-frame8-elm7 {
  gap: 10px;
  top: 12px;
  left: 40px;
  display: flex;
  padding: 12px 6px;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(49, 101, 9, 1);
}
 
.page-profil-thq-text-elm45 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle21-elm7 {
  top: 66px;
  left: 23.5px;
  width: 334px;
  height: 276px;
  position: absolute;
  border-radius: 16px 16px 0 0;
}
 
.page-profil-thq-text-elm46 {
  top: 352px;
  left: 40px;
  color: rgba(16, 16, 16, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm47 {
  top: 380px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle35-elm7 {
  top: 484px;
  left: 197px;
  width: 69px;
  height: 34px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm48 {
  top: 494px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle25-elm7 {
  top: 486px;
  left: 275px;
  width: 87px;
  height: 32px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm49 {
  top: 492px;
  left: 285px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm50 {
  top: 25px;
  left: 292.5px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-tuile2-elm {
  top: 369px;
  left: 502.5px;
  width: 380px;
  height: 534px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.page-profil-thq-frame11-elm {
  gap: 10px;
  top: 14px;
  left: 43px;
  display: flex;
  padding: 12px 6px;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 107, 53, 1);
}
 
.page-profil-thq-text-elm51 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle30-elm {
  top: 66px;
  left: 23.5px;
  width: 334px;
  height: 276px;
  position: absolute;
  border-radius: 16px 16px 0 0;
}
 
.page-profil-thq-text-elm52 {
  top: 354px;
  left: 43px;
  color: rgba(16, 16, 16, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm53 {
  top: 382px;
  left: 43px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle32-elm {
  top: 488px;
  left: 198px;
  width: 69px;
  height: 32px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm54 {
  top: 494px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle31-elm {
  top: 488px;
  left: 278px;
  width: 87px;
  height: 32px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm55 {
  top: 494px;
  left: 288px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm56 {
  top: 25px;
  left: 292.5px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-tuile3-elm {
  top: 369px;
  left: 956.5px;
  width: 380px;
  height: 534px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.page-profil-thq-text-elm57 {
  top: 25px;
  left: 292.5px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-frame10-elm {
  gap: 10px;
  top: 14px;
  left: 23.5px;
  display: flex;
  padding: 12px 6px;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(19, 29, 139, 1);
}
 
.page-profil-thq-text-elm58 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle27-elm {
  top: 66px;
  left: 23.5px;
  width: 334px;
  height: 276px;
  position: absolute;
  border-radius: 2px 16px 0 0;
}
 
.page-profil-thq-text-elm59 {
  top: 364px;
  left: 55px;
  color: rgba(16, 16, 16, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm60 {
  top: 390px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle33-elm {
  top: 490px;
  left: 202px;
  width: 74px;
  height: 36px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm61 {
  top: 500px;
  left: 211px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-rectangle34-elm {
  top: 490px;
  left: 285px;
  width: 87px;
  height: 32px;
  position: absolute;
  border-radius: 8px;
}
 
.page-profil-thq-text-elm62 {
  top: 498px;
  left: 296px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-frame-search-bar-elm {
  gap: 10px;
  top: 162px;
  left: 77px;
  width: 526px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.page-profil-thq-content-elm {
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--dl-color-systemmaterials-smlthick);
}
 
.page-profil-thq-frame-magnifyingglass-elm {
  width: 28px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.page-profil-thq-text-elm63 {
  color: var(--dl-color-labelcolors-lclsecondary);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm64 {
  color: var(--dl-color-labelcolors-lclsecondary);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
 
.page-profil-thq-pagination-v2-elm {
  gap: 12.195121765136719px;
  top: 2156px;
  left: 335px;
  width: 800px;
  height: 78.04878234863281px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.page-profil-thq-control-elm1 {
  gap: 24.390243530273438px;
  top: 0px;
  left: 0px;
  width: 78px;
  height: 78.04878234863281px;
  display: flex;
  padding: 24.390243530273438px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 2.4390244483947754px;
  border-radius: 78.04878234863281px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-icon-pagination-first-elm {
  top: 19.512218475341797px;
  left: 19.512195587158203px;
  width: 39px;
  height: 39px;
  position: absolute;
}
 
.page-profil-thq-control-elm2 {
  gap: 24.390243530273438px;
  top: 0.000023818596673663706px;
  left: 90.24390411376953px;
  width: 78px;
  height: 78.04878234863281px;
  display: flex;
  padding: 24.390243530273438px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 2.4390244483947754px;
  border-radius: 78.04878234863281px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-icon-pagination-prev-elm {
  top: 19.512218475341797px;
  left: 19.5122013092041px;
  width: 39px;
  height: 39px;
  position: absolute;
}
 
.page-profil-thq-page-elm1 {
  gap: 24.390243530273438px;
  top: 0.000023818596673663706px;
  left: 180.48780822753906px;
  width: 78px;
  height: 78.04878234863281px;
  display: flex;
  padding: 24.390243530273438px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 78.04878234863281px;
  justify-content: center;
  background-color: rgba(47, 128, 237, 1);
}
 
.page-profil-thq-page-elm2 {
  gap: 24.390243530273438px;
  top: 0.000023818596673663706px;
  left: 270.7317199707031px;
  width: 78px;
  height: 78.04878234863281px;
  display: flex;
  padding: 24.390243530273438px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 2.4390244483947754px;
  border-radius: 78.04878234863281px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-page-elm3 {
  gap: 24.390243530273438px;
  top: 0.000023818596673663706px;
  left: 360.9756164550781px;
  width: 78px;
  height: 78.04878234863281px;
  display: flex;
  padding: 24.390243530273438px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 2.4390244483947754px;
  border-radius: 78.04878234863281px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-page-elm4 {
  gap: 24.390243530273438px;
  top: 0.000023818596673663706px;
  left: 451.2195129394531px;
  width: 78px;
  height: 78.04878234863281px;
  display: flex;
  padding: 24.390243530273438px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 19.512195587158203px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-text-elm65 {
  top: 17.07319450378418px;
  left: 25.609785079956055px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 31.707317352294922px;
  font-style: SemiBold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-page-elm5 {
  gap: 24.390243530273438px;
  top: 0.000023818596673663706px;
  left: 541.4634399414062px;
  width: 78px;
  height: 78.04878234863281px;
  display: flex;
  padding: 24.390243530273438px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 2.4390244483947754px;
  border-radius: 78.04878234863281px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-text-elm66 {
  top: 17.07319450378418px;
  left: 20.73174285888672px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 31.707317352294922px;
  font-style: SemiBold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-control-elm3 {
  gap: 24.390243530273438px;
  top: 0.000023818596673663706px;
  left: 631.7073364257812px;
  width: 78px;
  height: 78.04878234863281px;
  display: flex;
  padding: 24.390243530273438px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 2.4390244483947754px;
  border-radius: 78.04878234863281px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-icon-pagination-next-elm {
  top: 19.512218475341797px;
  left: 19.512237548828125px;
  width: 39px;
  height: 39px;
  position: absolute;
}
 
.page-profil-thq-control-elm4 {
  gap: 24.390243530273438px;
  top: 0.000023818596673663706px;
  left: 721.9512329101562px;
  width: 78px;
  height: 78.04878234863281px;
  display: flex;
  padding: 24.390243530273438px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(241, 241, 241, 1);
  border-style: solid;
  border-width: 2.4390244483947754px;
  border-radius: 78.04878234863281px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-profil-thq-icon-pagination-last-elm {
  top: 19.512218475341797px;
  left: 19.512243270874023px;
  width: 39px;
  height: 39px;
  position: absolute;
}
 
.page-profil-thq-text-elm67 {
  top: 158px;
  left: 640px;
  color: rgba(63, 58, 21, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-profil-thq-text-elm68 {
  font-weight: 700;
}
 
.page-profil-thq-text-elm69 {
  font-weight: 400;
}
 
.page-profil-link {
  display: contents;
}
 
.page-profil-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.page-profil-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.page-profil-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
